<h1><%= @student.full_name %>'s Schedule</h1>

<%= link_to 'Download PDF of Schedule', download_schedule_student_path(@student), target: "_blank", class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Days of Week</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @schedule.each do |section| %>
      <tr>
        <td><%= section.subject.name %></td>
        <td><%= section.teacher.first_and_last_name %></td>
        <td><%= section.start_time %></td>
        <td><%= section.end_time %></td>
        <td><%= section.days_of_week.join(", ") %></td>
        <td><%= link_to "Withdraw from Section", withdraw_section_path(section), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>