<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Subject</th>
      <th>Classroom</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Days of week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.teacher_name %></td>
        <td><%= section.subject_name %></td>
        <td><%= section.classroom_number %></td>
        <td><%= section.start_time %></td>
        <td><%= section.end_time %></td>
        <td><%= section.days_of_week.join(', ') %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
