<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @section.teacher_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @section.subject_name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @section.classroom_number %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @section.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @section.end_time %>
</p>

<p>
  <strong>Days of week:</strong>
  <%= @section.days_of_week.join(', ') %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
