<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @section.teacher_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @section.subject_name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @section.classroom_number %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @section.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @section.end_time %>
</p>

<p>
  <strong>Days of week:</strong>
  <%= @section.days_of_week.join(', ') %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>

<% if current_student %>
  <% if current_student.sections.include?(@section) %>
    <%= button_to "Withdraw from Section", withdraw_section_path(@section), method: :delete %>
  <% else %>
    <%= button_to "Enroll in Section", enroll_section_path(@section), method: :post %>
  <% end %>
<% end %>